
 <div class="flex flex-col h-full">
  <div class="overflow-y-scroll scrollbar-hide flex-grow grid grid-flow-row auto-rows-auto grid-cols-[repeat(auto-fill,272px)] gap-x-5 xl:gap-x-10 gap-y-5 justify-center py-5">
    <%= render partial: "dashboard/card", collection: (1..12).to_a, locals: { user: current_user } %>
  </div>

  <%= render "layouts/footer" %>
  </div>