<%# app/views/dashboard/show.html.erb %>

  <div class="overflow-y-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <%= render partial: "dashboard/card", collection: (1..100).to_a, as: :number %>
      </div>
  </div>
</div>